{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<div class="container header-container mb-2">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-3 p-3">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-3 text-white karma">Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <aside class="col-lg-9">
            {% if bag_items %}
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="small text-uppercase">
                                <th scope="col">Products</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                        alt="{{ product.name }}">
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form" method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="5"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a href="" class="remove-item text-danger"
                                        id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    <a href="" class="update-link text-info float-right"><small>Update</small></a>


                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div>
                            <label>Have coupon?</label>
                            <div class="input-group">
                                <input type="text" placeholder="Discount code">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-apply">Apply</button>
                                </span>
                                <small class="mt-2">Our newsletter gives out free discount codes every
                                    month!</small></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p><strong>Total price:</strong> £{{ total|floatformat:2 }}</p>
                    <p><strong>Delivery:</strong> £{{ delivery|floatformat:2 }}</p>
                    {% if free_delivery_delta > 0 %}
                    <p class="text-danger">
                        You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong>
                        more!
                    </p>
                    {% endif %}
                    <p><strong>Grand Total:</strong> ${{ grand_total|floatformat:2 }}</p>
                    {% endif %}
                    <hr>
                    <a href="{% url 'products' %}" class="btn btn-out btn-primary btn-square btn-main">
                        <i class="fas fa-chevron-left"></i> Continue Shopping</a>
                    <a href="#" class="btn btn-out btn-success btn-square btn-main">Checkout<span class="icon">
                            <i class="fas fa-lock"></i>
                        </span></a>
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}