{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block pageheader %}
<div class="container header-container mb-5 mb-md-4">
    <div class="row">
        <div class="col mb-4 mb-md-0"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-3 p-3 mt-4 m-md-0">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-3 text-white karma text-md-left text-center">Shopping Basket</h2>
        </div>
    </div>
    <div class="row">
        <aside class="col-lg-9 col-12">
            {% if bag_items %}
            <div class="card bg-lt-blu">
                <div class="table-responsive yellow-border">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="small text-uppercase text-white">
                                <th scope="col">Products</th>
                                <th scope="col"></th>
                                <th scope="col">Quantity</th>
                                <th scope="col" class="d-none d-md-block">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <td class="py-3 sm">
                                    <p class="my-0 text-white"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-yellow">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="my-0 d-block d-sm-none text-yellow">€{{ item.product.price }}</p>
                                </td>
                                <td class="p-md-3 w-md-25">
                                    {% if item.product.image %}
                                    <img class="w-100 img-custom rounded" alt="{{ item.product.name }}"
                                        src="{{ item.product.image.url }}" aria-label="Product image">
                                    {% else %}
                                    <img class="w-100 img-custom rounded" alt="No image"
                                        src="{{ MEDIA_URL }}noimage.png">
                                </td>
                                {% endif %}
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST"
                                        action="{% url 'update_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="decrement-qty_{{ item.item_id }}" aria-label="Decrement">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" aria-label="Quantity">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="increment-qty_{{ item.item_id }}" aria-label="increment">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link green float-sm-left text-center"><small>Update</small></a>
                                    <a class="remove-item text-red float-sm-right text-center"
                                        id="remove_{{ item.item_id }}"
                                        data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                                <td class="py-3 sm d-none d-md-block">
                                    <p class="my-0 text-yellow">€{{ item.product.price }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3 col-12">
            <div class="card mb-3">
                <div class="card-body bg-lt-blu yellow-border">
                    <form>
                        <div>
                            <label class="text-white">Have coupon?</label>
                            <div class="input-group">
                                <input type="text" placeholder="Discount code">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary bg-blue">Apply</button>
                                </span>
                                <small class="mt-2 text-yellow">Our newsletter gives out free discount codes every
                                    month!</small></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-lt-blu yellow-border">
                    <p class="text-yellow"><strong class="text-white">Total price:</strong> €{{ total|floatformat:2 }}
                    </p>
                    <p class="text-yellow"><strong class="text-white">Delivery:</strong> €{{ delivery|floatformat:2 }}
                    </p>
                    {% if free_delivery_delta > 0 %}
                    <p class="text-white delivery-banner">
                        You could get free delivery by spending just <strong
                            class="text-yellow">€{{ free_delivery_delta }}</strong>
                        more!
                    </p>
                    {% endif %}
                    <p class="text-yellow"><strong class="text-white">Grand Total:</strong>
                        €{{ grand_total|floatformat:2 }}</p>
                        {% else %}
                        <p class="text-white">Sorry, you have no items in your basket. <a href="{% url 'products' %}" class="text-yellow">Browse Products</a></p>
                    {% endif %}
                    <hr>
                    <a href="{% url 'products' %}" class="btn btn-out bg-blue btn-square btn-main text-white">
                        <i class="fas fa-chevron-left"></i> Continue Shopping</a>
                    <a href="{% url 'checkout' %}" class="btn btn-out bg-yellow btn-square btn-main">Checkout<span
                            class="icon">
                            <i class="fas fa-lock blue"></i>
                        </span></a>
                </aside>
            </div>
        </div>
 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
        console.log("Update")
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
                console.log("remove")
            });
    })
</script>
{% endblock %}