{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<div class="container header-container mb-5">
    <div class="row">
        <div class="col mb-5"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid callout-display h-100">
    <div class="darken-image" style="background-image: url('https://res.cloudinary.com/dylanp400/image/upload/v1701802097/wa9dxepxfy7x8iis31lm.jpg'); background-repeat: no-repeat; background-position: center center; background-attachment: fixed; background-size: cover;">
</div>
    <div class="darken-image"></div>
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-12 my-4">
                <h1 class="display-4 robo-font text-white callout-head mt-md-0 mt-5">
                    Unlock Nostalgia: Shop Retro, Feel Classic!
                </h1>
                <p class="karma-font text-white callout-p">Discover a unique collection of retro games &amp;
                    consoles
                    that
                    take you
                    back in time.</p>
                <div class="my-2">
                    <h4 class="mb-5 mb-md-0">
                        <a href="{% url 'products' %}"
                            class="btn btn-lg shop-now-btn text-white rounded-2 text-uppercase py-1">Shop
                            Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid bg-lt-blu h-100">
    <div class="row mt-5">
        <div class="col mt-5">
    <h2 class="text-white text-center pt-5 pb-2 mt-5 mt-md-1 mb-4">
        <a href="{% url 'products' %}?on_sale=True" class="text-white robo-font">Check
            out our sale</a>
    </h2>
</div>
</div>
    <div class="row">
        {% for product in sale_products %}
        <div class="col-lg-3 col-md-6">
            <div class="card h-100 bg-lt-blu border-blue mb-2">
                <img src="{{ product.image.url }}" class="card-img-top bg-white" alt="{{ product.name }}">
                <div class="card-body text-white">
                    <h5 class="card-title robo-font font-weight-bold">{{ product.name }}</h5>
                    <p class="card-text karma-font">{{ product.description }}</p>
                    <p class="card-text">Price: ${{ product.price }}</p>
                </div>
                <div class="card-footer text-center bg-lt-blu">
                    <a href="{% url 'product_detail' product.id %}" class="btn text-center buy-btn text-white">View
                        Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="bg-lt-blu">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2 class="text-uppercase text-center mt-5 text-white robo-font">
                    Testimonials
                </h2>
                <hr>
           </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% for testimonial in testimonials %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="card bg-lt-blu m-3">
                                <div class="card-body border-blue">
                                    <h5 class="text-white">Rating: <span class="text-yellow">
                                            {{ testimonial.rating}} </span><i class="fa-solid fa-star fa-beat fa-2xs text-yellow"> </i>
                                    </h5>
                                    <p class="card-text text-white karma-font">{{ testimonial.content }}</p>
                                    <small class="card-title text-white robo-font">By {{ testimonial.user.username }}</small>  
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="visually-hidden">Next</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</section>



{% endblock %}


{% block extra_js %}
<script>
    $(document).ready(function() {
        $('#carousel').carousel({
        interval: 5000
    });
    });
</script>
{% endblock %}