<footer class="p-0 m-0 bg-lt-blu">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-white ml-2 text-center mt-5 pt-5 karma-font">Join our newsletter for updates on new products
                    and free
                    discount codes
                    every
                    month!</h4>
            </div>
            <div class="col-md-6 d-flex bg-lt-blue justify-content-center">
                <div id="mc_embed_shell" class="mt-2 mb-2">
                    <div id="mc_embed_signup">
                        <form
                            action="https://gmail.us21.list-manage.com/subscribe/post?u=246d7bf613aafa33290346818&amp;id=77fc7d75f7&amp;f_id=00a9e1e6f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate bg-lt-blu" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2 class="text-white robo-font">Subscribe</h2>
                                <div class="indicates-required text-white"><span class="asterisk text-white">*</span>
                                    indicates
                                    required</div>
                                <div class="mc-field-group text-yellow">
                                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL"
                                        value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text text-yellow">Sign
                                        Up!</span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" id="mail-msg">
                                    /* real people should not fill this in and expect good things - do not remove this
                                    or risk form bot signups */
                                    <input type="text" name="b_246d7bf613aafa33290346818_77fc7d75f7" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                            class="btn bg-yellow text-black" value="Subscribe">
                                        <p><a href="http://eepurl.com/iBOcpw"
                                                title="Mailchimp - email marketing made easy and fun"
                                                target="_blank"><span><img class="refferal_badge pb-2"
                                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                        alt="Intuit Mailchimp" id="mail-img"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 bg-blue">
                <div id="footer-banner">
                    <div class="col blue text-white">
                        <p class="robo-font my-1"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-md-4 col-6">
                <div class="opening-times text-center mr-5 mt-2 mb-2 karma-font font-weight-bold">
                    <h3 class="text-left text-md-center ml-2 robo-font font-weight-bold blue">Opening Times</h3>
                    <p class="text-left text-md-center fw-bold ml-2">Monday - Friday: 09:00-20:00</p>
                    <p class="text-left text-md-center fw-bold ml-2">Saturday: 09:00-18:00</p>
                    <p class="text-left text-md-center fw-bold ml-2">Sunday: Closed
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="text-center ml-2 karma-font font-weight-bold contact-us">
                    <h3 class="text-md-center text-left mt-2 robo-font font-weight-bold blue">Contact Us</h3>
                    <p class="text-left text-md-center me-5"><span class="fw-bold">Tel: </span><a
                            href="tel:085-123-000" class="blue">0851230000</a></p>
                    <p class="text-left text-md-center me-3"><span class="fw-bold">Email:
                        </span><a href="mailto:InkedClipers@gmail.com" class="blue">RetroClassics@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social-media ml-md-5 text-center karma-font font-weight-bold">
                    <h3 class="text-md-center mt-2 robo-font font-weight-bold blue">Follow Us</h3>
                    <a href="https://www.facebook.com" aria-label="Facebook" target="_blank" rel="noopener"><i
                            class="fa-brands fa-facebook mb-4 mx-2 blue"></i></a>
                    <a href="https://www.twitter.com" aria-label="Twitter" target="_blank" rel="noopener"><i
                            class="fa-brands fa-twitter mx-2 blue"></i></a>
                    <a href="https://www.linkedin.com/in/dylan-pigott-software-developer" aria-label="Linkedin"
                        target="_blank" rel="noopener"><i class="fa-brands fa-linkedin mx-2 blue"></i></a>
                    <a href="https://github.com/DylanP400/RetroClassics" aria-label="Github" target="_blank"
                        rel="noopener"><i class="fa-brands fa-github mx-2 blue"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
</script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>