<header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
            <a href="{% url 'home' %}" class="nav-link main-logo-link">
                <h2 class="my-0 lt-blue robo-font"><strong class="blue">Retro</strong> <span class="nav-font">
                        Classics</span>
                </h2>
            </a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Insert Coin">
                    <div class="input-group-append">
                        <button class="form-control btn btn-blue border border-blue rounded-0" title="Search"
                            type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 nav-font">
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" aria-label="My Account">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg blue"></i></div>
                            <p class="my-0 blue font-weight-bold">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item lt-blue font-weight-bold">Product
                            Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item lt-blue font-weight-bold">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item lt-blue font-weight-bold">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item lt-blue font-weight-bold">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item lt-blue font-weight-bold">Login</a>
                        {% endif %}
                    </div>
                </li>
                <li class="list-inline-item">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                        href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fas fa-basket-shopping fa-lg blue"></i></div>
                            <p class="my-0 lt-blue font-weight-bold">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                $0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav w-auto mx-auto">
                    <li class="nav-item d-lg-none">
                        <a class="logo-font nav-link blue font-weight-bold mr-5" href="{% url 'home' %}" id="home-link">
                            <span class="blue text-underline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font nav-link blue font-weight-bold mr-5" href="#" id="all-products-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="blue text-underline">All Products</span>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                            <a href="{% url 'products' %}?on_sale=True"
                                class="dropdown-item lt-blue font-weight-bold">On Sale!</a>
                            <a href="{% url 'products' %}?sort=price&direction=asc"
                                class="dropdown-item lt-blue font-weight-bold">By Price</a>
                            <a href="{% url 'products' %}?sort=rating&direction=desc"
                                class="dropdown-item lt-blue font-weight-bold">By Rating</a>
                            <a href="{% url 'products' %}?sort=players&direction=asc"
                                class="dropdown-item lt-blue font-weight-bold">By Players</a>
                            <a href="{% url 'products' %}" class="dropdown-item lt-blue font-weight-bold">All
                                Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="console-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="blue font-weight-bold text-underline">Consoles</span>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="console-link">
                            <div class="dropdown-item dropdown-nested">
                                <a href="#" class="blue font-weight-bold" data-toggle="dropdown-nested">Playstation</a>
                                <div class="dropdown-menu dropdown-menu-nested">
                                    <a href="{% url 'products' %}?category=playstation_one_console"
                                        class="dropdown-item lt-blue font-weight-bold">Playstation 1</a>
                                    <a href="{% url 'products' %}?category=playstation_two_console"
                                        class="dropdown-item lt-blue font-weight-bold">Playstation 2</a>
                                </div>
                            </div>
                            <div class="dropdown-item dropdown-nested">
                                <a href="#" class="blue font-weight-bold" data-toggle="dropdown-nested">Nintendo</a>
                                <div class="dropdown-menu dropdown-menu-nested">
                                    <a href="{% url 'products' %}?category=nintendo_snes_console"
                                        class="dropdown-item lt-blue font-weight-bold">Nintendo(SNES)</a>
                                    <a href="{% url 'products' %}?category=nintendo_64_console"
                                        class="dropdown-item lt-blue font-weight-bold">Nintendo 64</a>
                                </div>
                            </div>
                            <div class="dropdown-item dropdown-nested">
                                <a href="#" class="blue font-weight-bold" data-toggle="dropdown-nested">Sega</a>
                                <div class="dropdown-menu dropdown-menu-nested">
                                    <a href="{% url 'products' %}?category=sega_genesis_console"
                                        class="dropdown-item lt-blue font-weight-bold">Sega Genesis</a>
                                </div>
                            </div>
                            <div class="dropdown-item dropdown-nested">
                                <a href="#" class="blue font-weight-bold" data-toggle="dropdown-nested">Handheld</a>
                                <div class="dropdown-menu dropdown-menu-nested">
                                    <a href="{% url 'products' %}?category=gameboy_advanced_console"
                                        class="dropdown-item lt-blue font-weight-bold">Game Boy Advanced</a>
                                    <a href="{% url 'products' %}?category=playstation_portable_console"
                                        class="dropdown-item lt-blue font-weight-bold">Playstation Portable</a>
                                </div>
                            </div>
                            <div class="dropdown-item dropdown-nested">
                                <a href="#" class="blue font-weight-bold" data-toggle="dropdown-nested">Emulation</a>
                                <div class="dropdown-menu dropdown-menu-nested">
                                    <a href="{% url 'products' %}?category=raspberry_pi_console"
                                        class="dropdown-item lt-blue font-weight-bold">Raspberry Pi 4</a>
                                </div>
                            </div>
                            <a href="{% url 'products' %}?category=playstation_one_console,playstation_two_console,nintendo_snes_console,nintendo_64_console,
                            sega_genesis_console,gameboy_advanced_console,playstation_portable_console,raspberry_pi_console"
                                class="dropdown-item blue font-weight-bold">All Consoles</a>
                        </div>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link blue mr-5" href="#" id="games-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="blue text-underline">Games</span>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="games-link">
                            <a href="{% url 'products' %}?category=playstation_one_games"
                                class="dropdown-item lt-blue font-weight-bold">Playstation One</a>
                            <a href="{% url 'products' %}?category=playstation_two_games"
                                class="dropdown-item lt-blue font-weight-bold">Playstation Two</a>
                            <a href="{% url 'products' %}?category=playstation_portable_games"
                                class="dropdown-item lt-blue font-weight-bold">Playstation Portable</a>
                            <a href="{% url 'products' %}?category=nintendo_snes_games"
                                class="dropdown-item lt-blue font-weight-bold">Super Nintendo</a>
                            <a href="{% url 'products' %}?category=nintendo_64_games"
                                class="dropdown-item lt-blue font-weight-bold">Nintendo 64</a>
                            <a href="{% url 'products' %}?category=sega_genesis_games"
                                class="dropdown-item lt-blue font-weight-bold">Sega Genesis</a>
                            <a href="{% url 'products' %}?category=gameboy_advanced_games"
                                class="dropdown-item lt-blue font-weight-bold">Game Boy Advanced</a>
                            <a href="{% url 'products' %}?category=playstation_one_games,playstation_two_games,nintendo_snes_games,nintendo_64_games,sega_genesis_games,gameboy_advanced_games,playstation_portable_games"
                                class="dropdown-item lt-blue font-weight-bold">All Games</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="blue text-underline">ACCESSORIES</span>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                            <a href="{% url 'products' %}?category=controller"
                                class="dropdown-item lt-blue font-weight-bold">Controllers</a>
                            <a href="{% url 'products' %}?category=memory_card"
                                class="dropdown-item lt-blue font-weight-bold">Memory Cards</a>
                            <a href="{% url 'products' %}?category=cables_apapters"
                                class="dropdown-item lt-blue font-weight-bold">Cables &amp; Adapters</a>
                            <a href="{% url 'products' %}?category=controller,memory_card,cables_adapters"
                                class="dropdown-item lt-blue font-weight-bold">All Accessories</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col blue text-white">
            <h4 class="robo-font my-1">Free delivery on orders over <span
                    class="text-yellow">£{{ free_delivery_threshold }}</span>!</h4>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        // For the nested nav elements
        $('[data-toggle="dropdown-nested"]').on("click", function (e) {
            $(this).next('.dropdown-menu-nested').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
        // Hide nested dropdown when mouse leaves the main dropdown
        $('.dropdown-menu').mouseleave(function () {
            $('.dropdown-menu-nested').hide();
        });
        // Hide nested dropdown when clicking outside of the main dropdown
        $(document).on("click", function (event) {
            if (!$(event.target).closest('.dropdown-menu').length) {
                $('.dropdown-menu-nested').hide();
            }
        });
    });
</script>