{% extends "base.html" %}
{% load static %}

{% block pageheader %}
<div class="container header-container mb-5">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<section class="container-fluid callout-display h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-12">
                <h1 class="display-4 robo-font text-white callout-head mt-md-0 mt-5">
                    Oops! Page not found please go back to the home page.
                </h1>
                <p class="text-white robo-font my-2">
                    The page you are looking for might have been removed or is temporarily unavailable.
                 </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}