{% extends "base.html" %}
{% load static %}
{% get_media_prefix as MEDIA_URL %}

{% block pageheader %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mb-4 mt-1">
    <div class="row product-detail">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card h-100 product-card karma-font">
                        {% if product.image %}
                        <a href="{{ product.img.url }}" target="_blank">
                            <img class="card-img-top img-fluid mt-2" src="{{ product.image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{{ product.img.url }}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center m-0 text-black prod-name">{{ product.name }}</h5>
                        </div>
                        <div class="card-footer blue">
                            <p class="card-text text-center prod-price"> <span class="font-weight-bold">Price:</span>
                                £{{ product.price }}</p>
                            <hr class="mb-1 text-white text-center m-3">
                            <p class="card-text text-center mt-2 mb-2">
                                {{ product.description }}</p>
                            <hr class="mb-1 text-white text-center mb-2">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <p class="card-text text-left">
                                        <span class="font-weight-bold my-5">Rating:</span> <i
                                            class="fa-sharp fa-solid fa-star fa-2xs"></i>
                                        {{ product.rating }} / 5</p>
                                    {% if product.players %}
                                    <p class="card-text text-left"> <span class="font-weight-bold">Players: </span>
                                        {{ product.players }}</p>
                                    {% else %}
                                    <p class="card-text text-left"> <span class="font-weight-bold">Players: </span>
                                        2</p>
                                    {% endif %}
                                    {% if product.release_date %}
                                    <p class="card-text text-left"> <span class="font-weight-bold">Release
                                            Date:</span> {{ product.release_date }}</p>
                                    {% else %}
                                    <p class="card-text text-left"> <span class="font-weight-bold">Release
                                            Date:</span> 01/01/2000</p>
                                    {% endif %}
                                </div>
                                <div class="col-md-6 col-12">
                                    <!--For Console products-->
                                    {% if product.console.colour %}
                                    <p class="card-text text-md-right"> <span class="font-weight-bold">Colour:</span>
                                        {{ product.console.colour }}</p>
                                    {% else %}
                                    <p class="card-text d-none d-md-none"> <span class="font-weight-bold">None</span>
                                    </p>
                                    {% endif %}
                                    {% if product.console.manufacturer %}
                                    <p class="card-text text-md-right"> <span
                                            class="font-weight-bold">Manufacturer:</span>
                                        {{ product.console.manufacturer }}</p>
                                    {% else %}
                                    <p class="card-text d-none d-md-none"> <span class="font-weight-bold">None</span>
                                    </p>
                                    {% endif %}
                                    {% if product.console.storage %}
                                    <p class="card-text text-md-right"> <span class="font-weight-bold">Storage:</span>
                                        {{ product.console.storage }}</p>
                                    {% else %}
                                    <p class="card-text d-none d-md-none"> <span class="font-weight-bold">None</span>
                                    </p>
                                    {% endif %}
                                    <!--For Game products-->
                                    {% if product.game.pgi_certificate %}
                                    <p class="card-text text-md-right"> <span class="font-weight-bold">Age:</span>
                                        {{ product.game.pgi_certificate }}</p>
                                    {% else %}
                                    <p class="card-text text-md-right d-none d-md-none">None</p>
                                    {% endif %}
                                    {% if product.game.developer %}
                                    <p class="card-text text-md-right"> <span class="font-weight-bold">Developer:</span>
                                        {{ product.game.developer }}</p>
                                    {% else %}
                                    <p class="card-text text-md-right d-none d-md-none">None</p>
                                    {% endif %}
                                    {% if product.game.publisher %}
                                    <p class="card-text text-md-right"> <span class="font-weight-bold">Publisher:</span>
                                        {{ product.game.publisher }}</p>
                                    {% else %}
                                    <p class="card-text text-md-right text-md-left d-none d-md-none">None</p>
                                    {% endif %}
                                </div>
                            </div>

                            <hr class="text-white text-center m-1 mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group w-50 mx-auto">
                                            <div class="input-group mt-4">
                                                <div class="input-group-prepend">
                                                    <button type="" class="decrement-qty btn rounded-0"
                                                        data-item_id="{{ product.id }}"
                                                        id="decrement-qty_{{ product.id }}" title="decrement">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>

                                                <input class="form-control qty_input text-center" type="number"
                                                    name="quantity" value="1" min="1" max="5"
                                                    data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" aria-label="quantity form">

                                                <div class="input-group-append">
                                                    <button type="button" class="increment-qty btn rounded-0"
                                                        data-item_id="{{ product.id }}"
                                                        id="increment-qty_{{ product.id }}" title="increment">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex flex-row justify-content-center">
                                            <input type="submit" class="buy-btn" value="Add To Basket">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="text-white text-center mb-3">
                            <div class="row m-0">
                                <div class="col-md-6 col-12">
                                    <a href="{% url 'products' %}"
                                        class="btn btn-outline-light lt-blue rounded-0 mt-4 bg-yellow">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">More Products</span>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12">
                                    {% if product.category %}
                                    <p class="card-text text-center mt-3 mb-3">
                                        <a class="text-yellow"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span> Check out
                                            some more
                                            {{ product.category.display_name }} products
                                        </a>
                                    </p>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}"
                                            class="text-white btn-sm bg-green">Edit</a>
                                        <a href="{% url 'delete_product' product.id %}"
                                            class="text-white btn-sm bg-red">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}