<div role="alert" aria-live="assertive" aria-atomic="true" class="toast custom-toast yellow-border"
    data-autohide="false">
    <div class="toast-header bg-lt-blu">
        <strong class="mr-auto text-yellow">Success!</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-lt-blu text-white">
        <div class="row">
            <div class="col logo-font">
                {{ message }}
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="bg-lt-blu text-white py-2">Your Basket ({{ product_count }})</p>
        <div class="basket-notification-wrapper">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 my-1">
                    {% if item.product.image %}
                    <img class="w-100" alt="{{ item.product.name }}" src="{{ item.product.image.url }}">
                    {% else %}
                    <img class="w-100" alt="No image" src="{{ MEDIA_URL }}noimage.png">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small text-white">Qty: {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-1 mb-1 text-white">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right text-yellow">€{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p class="mb-0 p-2 bg-lt-blu shadow-sm text-white text-center">
                    Spend <strong class="text-yellow">€{{ free_delivery_delta }}</strong> more to get free next day
                    delivery!
                </p>
                {% endif %}
                <a href="{% url 'view_bag' %}" class="btn btn-block rounded-0 bg-blue border-blue">
                    <span class="text-uppercase text-white">Proceed to Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock text-yellow"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>